<div class="page-background">
  <section class="container page">
    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" />

    <section class="oyw-content-nav col-md-3">
      <!--<h3>Hinweise</h3>-->
      <p>
        Privatsphäre und die Freiheit selbst zu entscheiden sind die Grundlagen unserer demokratischen Gesellschaft.
        Daher ist nicht nur das Recht auf Privatsphäre, sondern auch die Möglichkeit Produkte und Dienstleistungen in Anspruch zu nehmen
        ohne "freiwillig" auf dieses Recht zu verzichten, ein wertvolles Gut!
      </p>
      <p>
        <strong>Daten, die wir nicht aufzeichnen, müssen wir auch nicht vor unbefugtem Zugriff schützen.</strong>
      </p>
      <blockquote>
        <p>Wir wolln's gor ned wissen, ned so genau.</p>
        <cite><small>frei nach Kurt Ostbahn</small></cite>
      </blockquote>
    </section>
    

    <section class="oyw-content-main col-md-9">
      <header class="page-header">
        <h1>Datenschutz <small>Ihre Privatsphäre</small></h1>
      </header>      <h3>Wie wir mit Ihren Daten umgehen</h3>
      <p>
        <strong>Wir speichern keine Daten über Ihre Suchabfragen.</strong> Weder personalisiert noch anonym.
        <strong>Wir analysieren Ihre Einkaufsliste nicht.</strong> Nicht zu Werbezwecken oder um damit Geld zu verdienen. Auch nicht um unsere Produkte zu verbessern. Das können wir auch so.
      </p>
      <p>
        <strong>Sie können die meisten Funktionen auch ohne Registrierung nutzen.</strong>
        Ihre Einstellungen und Ihre Einkaufsliste werden lokal auf Ihrem Gerät gespeichert und nicht zu unseren Servern übertragen.
      </p>
      <p>
        <strong>Nur wenn Sie Angebote (z.B. Ihr Geschäft oder Ihre Dienstleistung) veröffentlichen wollen, müssen Sie sich anmelden.</strong>
        Sie können sich auch anmelden um Ihre Einkaufsliste auf mehreren Geräten zu nutzen.
        Dann kann Ihre Einkaufsliste verschlüsselt über unsere Server synchronisiert werden.
        Die Einkaufsliste wird dabei so verschlüsselt, dass wir den Inhalt nicht lesen können.
        Wir planen, den Austausch ihrer Einkaufslisten in Zukunft auch über andere Anbieter Ihrer Wahl zu ermöglichen.
      </p>
      <p>
        Wenn Sie sich registrieren, verwenden wir Ihre Email-Adresse um Sie zu wesentlichen Dingen zu kontaktieren.
        Wir schicken <strong>keine Werbung</strong> und geben Ihre Daten auch nicht an Dritte weiter.
      </p>
      <h4>Prüfen Sie's nach:</h4>
      <p>
        <strong>onYOURway ist Open Source</strong>. Auf <a href="https://github.com/art-ist/onYOURway">GitHub</a>, einer der führenden Plattformen für Open Source-Projekte,
        können Sie den Quellcode einsehen und
      </p>
      <ul>
        <li>überprüfen, ob wir auch wirklich tun, was wir versprechen,</li>
        <li>etwaige Sicherheitslücken aufdecken und helfen sie zu schließen,</li>
        <li>Wünsche oder Verbesserungsvorschläge einbringen,</li>
        <li>und selbst zur Weiterentwicklung von onYOURway beitragen.</li>
      </ul>

    </section>




  </section>
</div>