/*colors*/
body {
  background: none;
}
div.form-control.select2-container-multi {
  z-index: 111;
}
div.form-control.select2-container-multi ul.select2-choices {
  padding-top: 2px !important;
}
nav .form-group {
  margin-bottom: 13px;
}
a.explainable span.explain {
  display: none;
  position: absolute;
  background-color: #fcdf8f;
  padding: 5px;
  width: 250px;
  height: auto;
  border: 1px solid #808080;
  z-index: 200;
  right: 0;
}
a.explainable:hover span.explain {
  display: inline-block !important;
}
.locBoxCtnr {
  position: absolute;
  right: 0;
  top: 85px;
  z-index: 111;
  width: 200px;
  height: 80%;
  overflow: hidden;
}
.locBox {
  background-color: #96d0b8;
  margin-bottom: 5px;
  padding: 5px;
}
.locBoxIcons {
  float: right;
}
.locBoxEvent {
  display: inline-block;
  background-color: #FFFFFF;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
.locBoxInfo,
.locBoxEco,
.locBoxRate {
  display: none;
}
.locBoxInfo.unhide,
.locBoxEco.unhide,
.locBoxRate.unhide {
  display: block !important;
}
.navbar-default {
  background-color: #656565;
  border-color: #000000;
}

#map {
  position: absolute;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ebebeb;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#map.listOpen {
  right: 310px;
}
#map.detailsOpen {
  right: 525px;
}
#map.listOpen.detailsOpen {
  right: 835px;
}
path.oyw-map-pointer {
  stroke: #375662;
  stroke-width: 1px;
  stroke-opacity: 0.6;
  fill: #375662;
  fill-opacity: 0.6;
}
.leaflet-control-container {
  display: none;
}
.leaflet-control {
  border-radius: 5px;
  border-width: 2px !important;
}

