<!--
    Karte von Morgen
-->

<header>

    <div class="header">
        <div>
            <div class="logo">
                <a href="#">
                    <img src="/App/themes/vonMorgen/images/logoanimation90.gif" />
                </a>
            </div>
            <div class="login">
                <a href="#my">LOGIN / SIGN UP</a>
            </div>
            <div class="navi">
                <a href="#map" class="hidden-s">KARTE</a>
                <a href="#blog">BLOG</a>
                <a href="#workshops">WORKSHOPS</a>
                <a href="#join" class="hidden-s">MITMACHEN</a>
                <a href="#info">INFO</a>
            </div>
        </div>
    </div>

    <div class="searchbar">
        <form role="search">
            <a class="btn" href="#add" title="Neuen Eintrag hinzufügen">
                <i class="fa fa-fw fa-plus"></i>
            </a><a class="btn pos" href="#" title="aktuelle Position bestimmen">
                <i class="fa fa-fw fa-crosshairs"></i>
            </a>

            <span data-bind="component: 'searchBox'"><!-- searchBox --></span>

            <span class="categories">
                <a class="initiatives hidden-sm active">Initiativen &amp; Inspirationen
                </a><a class="initiatives visible-m active">Initiativen
                </a><a class="events hidden-sm">Events &amp; Begegnungen
                </a><a class="events visible-m">Events
                </a><a class="companies hidden-sm">Unternehmen &amp; Einkaufen
                </a><a class="companies visible-m">Unternehmen</a>
            </span>
            <a class="btn" tabindex="-1" data-bind=""> <i class="fa fa-fw fa-bars"></i></a>
        </form>
    </div>


</header>
