<!--
    Karte von Morgen
-->

<header>

    <div class="header">
        <div>
            <div class="logo">
                <a href="#">
                    <img src="/App/themes/vonMorgen/images/logo66.png" />
                </a>
            </div>
            <div class="login">
                <a href="#my">LOGIN / SIGN UP</a>
            </div>
            <div class="navi">
                <a href="#map" class="hidden-s">KARTE</a>
                <a href="http://blog.kartevonmorgen.org/">BLOG</a>
                <a href="http://blog.kartevonmorgen.org/?page_id=16">WORKSHOPS</a>
                <a href="http://blog.kartevonmorgen.org/?page_id=18" class="hidden-s">MITMACHEN</a>
                <a href="http://blog.kartevonmorgen.org/?page_id=20">INFO</a>
            </div>
        </div>
    </div>

    <div class="searchbar">
        <form role="search">
            <a class="btn" href="#add" title="Neuen Eintrag hinzufügen">
                <i class="fa fa-fw fa-plus"></i>
            </a><a class="btn pos" href="#" title="aktuelle Position bestimmen">
                <i class="fa fa-fw fa-crosshairs"></i>
            </a>

            <span data-bind="component: 'searchBox'"><!-- searchBox --></span>

            <span class="tagSelection" data-bind="component: 'tagSelection'"><!-- tagSelection --></span>

            <a class="btn" tabindex="-1" data-bind="click: toggleTagSelection"> <i class="fa fa-fw fa-bars"></i></a>

        </form>
    </div>


</header>
