<div id="home">
    <div class="aboveMap">
        <div class="searchPopup" data-bind="click: enableMap">
            <div class="popupHeader">
                <a href="#map" class="close"><i class="fa fa-fwd fa-close"></i></a>
                <h2>Alles Gute auf einer Karte</h2>
            </div>
            <div data-bind="component: 'searchBox'"><!-- searchBox --></div>
            <div class="tagSelection" data-bind="component: 'tagSelection'"><!-- tagSelection --></div>
            </span>

        </div>
    </div>

    <div class="belowMap">
        blablablalaber blubb
    </div>
</div>