<div class="page-splash">
  <style type="text/css">
    .page-splash {
      position: absolute;
      position: fixed;
      width: 240px;
      left: 50%;
      margin-left: -120px;
      height: 160px;
      top: 50%;
      margin-top: -80px;
      text-align: center;
    }

    #page-splash-indicator {
      margin-top: 10px;
    }
  </style>

  <div id="page-splash-message">
    <img src="~/App/images/logo.targetsize-128.png" alt="onYOURway">

    <p><br /><i class="icon-spinner icon-2x icon-spin"></i></p>
  </div>

</div>