<div class="page-background">
  <div class="container page">
    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" />

    <section class="oyw-content-main">
		<article>
			<header class="page-header">
				<h1>About</h1>
			</header>

			<p>
				We are a collective of individuals and organizations that aim to visualize existing alternative economies and social innovation. Our goal is to provide standards tools and taxonomies to map the socio-ecological transformation happening on the ground.
			</p>
			<p>
				Stay tuned for more.
			</p>
		</article>

    </section>

  </div>
</div>