<div class="page-background">
  <div class="container page">
    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" />

    <div class="oyw-content-nav col-sm-3 hidden-xs">
      <!--<img src="../App/images/logo.targetsize-128.png">-->
      <a href="http://www.netidee.at/"><img alt="netidee Logo" src="Content/onYOURway/images/about/logos/netidee-logo.gif" height="91" width="191" /></a>
    </div>

    <section class="oyw-content-main col-sm-9">
      <article>
        <h2 data-bind="text: title"></h2>
        <div class="alert alert-warning">
          Das ist eine Preview Version zur Demonstration der Funktionen, die die <strong>onYOURway</strong> Web-Plattform in teilnehmenden Regionen anbieten wird.
          Die Daten sind <strong>nicht vollständige Demo-Daten</strong> der Demo-Region Baden bei Wien.
        </div>
        <h3>
          Daten
        </h3>
        <p>
          Die Daten sind <strong>nicht vollständige Demo-Daten</strong>.
          Zum Testen kann z.B. nach "Bio", "Ausgsteckt", "Lokal" oder "Mühlgasse" gesucht werden.
          Echtdaten werden verfügbar, wenn die erste Pilotregion mit <strong>onYOURway</strong> startet.
        </p>
        <h3>
          Plattform
        </h3>
        <p>
          Die Web-Anwendung wurde mit aktuellen Versionen von Internet Explorer, Firefox und Google Chrome erfolgreich getestet.
          Opera und Safari haben noch Darstellungsprobleme (img Wesentlichen mit der Startseite).
          Die Optimierung für mobile Browser ist im Gange aber noch nicht abgeschlossen.
        </p>
        <h3>
          Nächste Schritte
        </h3>
        <p>
          <ul>
            <li>Erste Pilotregionen starten das <strong>onYOURway</strong>-Projekt</li>
            <li>Die öffentliche Registrierung wird freigegeben</li>
            <li><strong>onYOURway</strong> kann als Tool zur Erfassung von Anbietern auch außerhalb der unterstützten Regionen eingesetzt werden</li>
            <li>Die Web-Plattform wird für mobile Geräte optimiert</li>
            <li>Kleinere Korrekturen, Optimierung und Erweiterung der Kartendarstellung</li>
          </ul>
        </p>
      </article>

    </section>

  </div>
</div>