<div class="page-background">
  <div class="container page">
    <style>
      .jumbotron {
        background-image: url('Content/onYOURway/images/about/explorer.jpg');
      }
    </style>

    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" />

    <div class="oyw-content-nav col-sm-3">

      <ul id="page_nav" class="nav nav-pills nav-stacked">
        <li><a href="#header">Für Entdecker</a></li>
        <li><a href="#vorteile">Warum onYOURway?</a></li>
        <li><a href="#suchen">Suchen</a></li>
        <li><a href="#erkunden">Die Gegend Erkunden</a></li>
        <li><a href="#todo">Unterwegs erledigen</a></li>
        <li><a href="#/about/onyourway">mehr über onYOURway</a></li>
      </ul>

    </div>

    <section class="oyw-content-main col-sm-9">

      <header id="header" class="jumbotron">
        <h1>Für Entdecker</h1>
        <p>Welche Bäckereien am Weg haben offen? Wo kann ich Essen am Heimweg mitnehmen? Welche Heurigen in der Nähe haben ausg'steckt? Wann geht der nächste Bus?</p>
      </header>

      <article id="vorteile">
        <h2>Warum onYOURway?</h2>
        <p>
          Sparen Sie lästige Wegstrecken ein und
          entdecken den Einkauf in kleinen, lokalen Betrieben
          als Lifestyle-Entscheidung für mehr Lebensqualität.
        </p>
        <p>
          Und wenn Ihr Einkaufszettel am Handy gleich auch
          die richtigen Geschäfte findet, die am Weg liegen,
          ihre Öffnungszeiten kennt und regionale Besonderheiten wie z.B.
          die Badener-Vorteilscard angezeigt werden, wird
          das Nächste auch zum Besten.
        </p>
      </article>

      <article id="suchen">
        <h2>Suchen <small>einfach nachschauen</small></h2>
        <p>
          Suchen Sie einfach nach dem Namen ines Anbieters, einer Straße oder Suchen Sie alle Bäckereien oder Kaffeehäuser in der Umgebung.
        </p>
        <p>
          Auf einen Blick sehen Sie welche Geschäfte gerade geöffnet haben und empfehlenswerte Geschäfte werden zusätzlich farblich hervorgehoben.
        </p>
        <p>
          Mit der erweiterten Suche können Sie in Ihrer Nähe oder entlang einer Wegstrecke suchen, die Sie ohnehin zurücklegen.
          Damit sparen Sie Benzin und Zeit.<br />
          Sie können aber auch nachsehen, welche Lokale heute abend oder morgen offen haben. Und Sie können selbst bestimmmen,
          nach welchen Kriterien Sie am liebsten einkaufen und z.B. alle Geschäfte hervorheben, die Produkte aus der Region anbieten.
        </p>
        <p class="hidden-sm">
          Machen Sie doch eine kleine Tour durch die Suchfunktion von <strong>onYOURway</strong>:<br />
          <button class="btn btn-success" type="button" data-bind="click: startTourSuche">Tour starten</button>
        </p>
      </article>

      <article id="erkunden">
        <h2>Die Gegend Erkunden <small>Übersicht und Entdeckung</small></h2>
        <p>
          Themenschwerpunkte sind als Links auf unterschiedlichen Websites zu finden. Damit können verschiedene Themen besonders einfach gefunden werden.
        </p>
        <p>
          Klicken Sie auch einmal auf einen der Tags in den Standortdetails. So entdecken Sie am einfachsten ähnliche Angebote.
        </p>
        <ul>
          <li><i class="fa fa-fw fa-glass"></i> <a href="#/karte?tag=heuriger&sort=open"><strong>Ausg'steckt is'</strong> - Badener Heurigenkaleder</a></li>
          <li><i class="fa fa-fw fa-map-marker"></i> <a href="#/karte?tag=eigenproduktion,dienstleistung">In <strong>unserer Region</strong> produziert</a></li>
          <li><i class=" fa fa-fw fa-leaf"></i> <a href="#/karte?tag=bio">Hier bekommen Sie Bioprodukte</a></li>
        </ul>
      </article>

      <article id="todo">
        <h2>Unterwegs erledigen <small>Einkaufsliste</small></h2>
        <p>
          Um Ihnen die Einsparung unnötiger Wegstrecken leichter zu machen haben wir eine einfache Einkaufsliste eingebaut.
          Ab Freigabe der öffentlichen Registrierung können Sie diese Einkaufsliste auch bequem am PC erstellen und unterwegs am Handy abrufen.
        </p>
        <p>Hier geht's zur <a href="#/my/shoppingList">Einkaufsliste</a>.</p>
      </article>

    </section>

  </div>
</div>