<div class="page-background">
  <div class="container page">
    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" />

    <div class="oyw-content-nav col-sm-3 hidden-xs">
      <!--<img src="../App/images/logo.targetsize-128.png">-->
      <img alt="Visitenkarte als QR Code zum Scannen" src="app/images/qr-vCard.png" height="148" width="148">
      <a href="http://www.netidee.at/"><img alt="netidee Logo" src="Content/onYOURway/images/about/logos/netidee-logo.gif" height="91" width="191" /></a>
      <p>&nbsp;</p>
      <a href="http://www.w3.org/html/logo/">
        <img src="app/images/html5-badge-h-css3-device-multimedia-semantics-storage.png" width="261" height="64"
             alt="HTML5 Powered"
             title="Diese Site passt sich an die Darstellungsgröße an (Responsive Design) und verwendet HTML5 Funktionen wie
             Semantics, CSS3, Multimedia, Device Access und Offline &amp; Storage">
      </a>
    </div>

    <section class="oyw-content-main col-sm-9">
      <article>
        <header class="page-header">
          <h1 data-bind="text: title"></h1>
        </header>
        <h4>
          Ein Initiative von <a href="http://ART-ist.cc">ART-ist.cc</a>.
        </h4>
        <p>
          Initiator und Ansprechpartner der Initiative ist Michael Vesely, unabhängiger Designer, Entwickler und Trainer.
          Er startete diese Initiative aus dem persönlichen Bedürfnis nach mehr Freude beim Einkaufen, weniger Verkehr und mehr Lebensqualität.
        </p>
        <p>
          <a href="http://ART-ist.cc">ART-ist : Creative Communication e.U.</a><br>
          <!--Michael A. Vesely<br>-->
          Baden bei Wien<br>
          Austria
        </p>
        <p>
          Mitglied der Wirtschaftskammer Österreich
        </p>

        <p>
          <a class="email" data-bind="text: email, attr: {href: emailUrn }"></a>
        </p>


        <blockquote>
          <p>Wenn ich weiter als andere gesehen habe, so deshalb, weil ich auf den Schultern von Riesen stand.</p>
          <small><cite title="Sir Isaac Newton (1643 - 1727)">Isaac Newton</cite></small>
        </blockquote>

        <p><strong>Danke</strong> an:</p>
        <ul>

          <li>Daniel Kapla ... für Transformationen, Projektionen, Berechnungen und Liebe.</li>
          <li>IPA ... ohne deren netidee es bei einer guten Idee geblieben wäre.</li>
          <li>jQuery ... Ihr habt JavaScript erst zum Leben erweckt.</li>
          <!--          <li>jQueryUI ... für einige praktische UI-Gadgets.</li>-->
          <li>moment.js ... wie kann man Datum nur so verbocken. Ihr habt vieles repariert.</li>
          <li>knockout.js ... für das coolste databinding.</li>
          <li>durandal ... weil Ihr die Teile dieser App zusammenführt.</li>
          <li>Hot Towel ... John, Du hast den Dschungel so viel übersichtlicher gemacht.</li>
          <li>breeze.js ... wer schon mal eine Datenzugriffsschicht geschrieben hat, weiß, was er Euch schuldet.</li>
          <li>bootstrap.js ... weil das Rad nicht immer neu erfunden werden muss.</li>
          <li>OpenStreetMap ... weil wir gemeinsam besser wissen, wo was ist.</li>
          <li>leaflet.js ... unsere Engine zur Kartendarstellung.</li>
          <li>leaflet - Plugins ... und vielen Erweiterungen.</li>
          <li>JSTS ... für Geometrische und Geografische Berechnungen.</li>
          <li>Q ... Kris Kowal, weils manchmal wichtig ist, was zuerst kommt.</li>
          <li>toastr  ... weil manchmal was gesagt werden will.</li>
          <li>.... vielen mehr und ...</li>
          <li>Sir Tim Berners-Lee ... weil die richtige "Kleinigkeit" zur rechten Zeit alles verändern kann.</li>

        </ul>
      </article>

    </section>

    <div class="visible-xs">
      <img alt="onYOURway Logo" src="app/images/logo.targetsize-128.png">

    </div>

  </div>
</div>