<div class="page-background">
  <div class="container page">
    <style>
      .jumbotron {
        background-image: url('Content/onYOURway/images/about/region.jpg');
      }
    </style>

    <a class="oyw-btn-close hidden-xs fa fa-times" href="#/karte" /> <!--'close' is a navigation to the map, actually-->

    <div class="oyw-content-nav col-sm-3">

      <ul class="nav nav-pills nav-stacked">
        <li><a href="#header">Für Regionen</a></li>
        <li><a href="#vorteile">Warum onYOURway?</a></li>
        <!-- <li><a href="#community">Alle zusammen</a></li>-->
        <li><a href="#tool">Die Plattform</a></li>
        <li><a href="#prozess">Entwicklungsprogramm</a></li>
        <li><a href="#info">Mehr Information</a></li>
        <li><a href="#los">Ihre Region mit dabei</a></li>
        <li><a href="#/about/onyourway">mehr über onYOURway</a></li>
      </ul>

    </div>

    <div class="oyw-content-main col-sm-9">

      <header id="header" class="jumbotron">
        <h1>Für Regionen</h1>
        <p>Regionen, Gemeinden, Bezirke, Kommunen, Tauschkreise, Wirtschaftsvereinigungen, alle regionalen Organisationen</p>
      </header>

      <article id="vorteile">
        <h2>Warum onYOURway? <small>Die Vorteile</small></h2>
        <p>
          <strong>onYOURway ist ein partizipatives Regionalinformationssystem.</strong>
          <br />
          Das Konzept von <strong>onYOURway</strong> ist es das Naheliegende zu verbinden.
          Die Region fungiert als Drehscheibe und Katalisator, setzt Impulse und unterstützt die Entwicklung
          eines neuen regionalen Miteinander. Wenn bei Organisationen, Wirtschaft, Initiativen und Bürgern
          das Image der <strong>eigenen Region</strong> steigt, das reichhaltige Angebot erkannt, lokale Strukturen
          belebt und Lücken gemeinsam geschlossen werden, reduzieren sich automatisch Abwanderung oder Auspendeln.
          Verkehr und Fahrzeiten werden unnötig und freiwerdende Ressourcen können nutzbringender eingesetzt werden.
        </p>
        <p>
          <strong>onYOURway</strong> ist eine Plattform, die Reginen und Gemeinden erlaubt 
        </p>
        <ul>
          <li>die Förderung lokaler Wirtschaft mit der Reduktion von Verkehr zu verbinden,</li>
          <li>CO²-Emissionen zu verringern,</li>
          <li>ihre Umweltbilanz zu verbessern</li>
          <li>und gleichzeitig kleine Betriebe, fairen Handel und Tourismus zu fördern.</li>
        </ul>
        <p>
          <strong>Konsumenten</strong> sparen lästige Wegstrecken ein und
          entdecken den Einkauf in kleinen, lokalen Betrieben
          als Lifestyle-Entscheidung für mehr Lebensqualität.
        </p>
        <p>
          <strong>Anbieter</strong> können auf ganz einfache Weise, vielleicht gleich übers Handy, ihre Kontaktdaten
          aktualisieren, neue Kunden auf sich und ihre Produkte aufmerksam machen und werden auch ohne
          spezielle Kenntnisse "Internet-Fit".
        </p>
        <p>
          <strong>Gemeinden und Regione</strong>n publizieren ihre Adressdaten nicht mehr nur in langen alphabetisch
          sortierten Listen sondern fungieren aktiv als Drehscheibe und Katalisator um die
          lokale Wirtscvhaft und Zusammenarbeit zu unterstützen und fördern.
        </p>
      </article>

      <article id="tool">
        <h2>Die Plattform <small>flexibel und vielseitig</small></h2>
        <p>
          Viele Gemeinden und einige Regionalförderinitiativen bieten auf ihren Websites Verzeichnisse von
          Geschäften, Vereinen, Ärzten oder Heurigen suchen viele über die Website ihrer Gemeinde.
          Diese Verzeichnisse werden aber von immer weniger Leuten benutzt, weil sie meist nicht mehr den Anforderungen unserer Zeit entsprechen.
          Ein Plug-In macht es für die Betreiber von Websites einfach, ihre Adressdaten direkt auf dem Stadtplan zu publizieren.
          Und das mit interaktiver Suche nach Standort, Produktgruppen, Lifestyle-Kriterien, Öffnungszeiten und vielem mehr.
          Der nächste, völlig neuartige Schritt erlaubt nicht nur die Suche in der Nähe, sondern entlang von Wegstrecken die, z.B. mit dem Rad
          oder auch mit öffentlichen Verkehrsmitteln, ohnehin zurückgelegt werden!
          Damit wird aus „Adress-Friedhöfen“ auf Gemeinde- oder Regional-Websites in völlig neuartiger Weise eine
          interaktive Informationsdrehscheibe für Bürger und Gäste.
        </p>
        <p>Klassische Links, wie diese können sehr einfach in Ihrer bestehenden Website integriert werden.</p>
        <ul>
          <li><i class="fa fa-fw fa-glass"></i> <a href="#/karte?tag=heuriger&sort=open"><strong>Ausg'steckt is'</strong> - Badener Heurigenkaleder</a></li>
          <li><i class="fa fa-fw fa-map-marker"></i> <a href="#/karte?tag=eigenproduktion,dienstleistung">In <strong>unserer Region</strong> produziert</a></li>
          <li><i class=" fa fa-fw fa-leaf"></i> <a href="#/karte?tag=bio">Hier bekommen Sie Bioprodukte</a></li>
        </ul>
        <p>
          Und Anbieter können sich selbst ganz einfach eintragen und ihre Informationen, wie Kontktdaten, Foto, Angebot und Öffnungszeiten
          über PC, Tablet oder Smartphone aktuell halten. Mit einem Klick können sich die Wirtschaftstreibenden und Initiativen
          Ihrer Region auch in andere Verzeichnisse, wie z.B. Google Maps eintragen lassen. Damit wird Ihre Wirtschaft weithin sichtbar
          und auch ohne Spezialkenntnisse Internet-Fit.
        </p>
        <p>
          Ihre Bürger und Gäste, erkennen aber nicht nur an ansprechenden, endlich zeitgemäßen und damit rege genutzten Verzeichnissen, wie Reichhaltig
          das Angebot in ihrer Umgebung ist, die freie Suche nach Name, Adresse, Öffnungszeiten, Lifestyle- oder Nachhaltigkeits-Kriterien
          bis hin zur einfachen Einkaufsliste oder den Direktaktionen wie "anrufen" am Smartphone machen <strong>onYOURway</strong> zum 
          praktischen Begleiter und Ihre Website zur vitalen Informationsdrehscheibe ihrer Region.
        </p>
      </article>

      <article id="prozess">
        <h2>Das Entwicklungsprogramm <small>Events, Workshops und mehr</small></h2>
        <p>
          Aktuelle Informationen setzen eine möglichst vollständige, aktive Teilnahme der lokalen Wirtschaft
          und Bevölkerung voraus. Der partizipative Ansatz erhöht nicht nur die Aktualität und Qualität der Informationen
          sondern steigert auch die Identifikation mit der eigenen Region.
        </p>
        <p>
          Eine Reihe von Workshops und Events begleiten die Einführung <a href="#tool">der Plattform</a>
          als Anlass Innovations- und Kooperationsimpulse zu setzen und Energien zur partizipativen Regionalentwicklung zu bündeln.
        </p>
        <p>&nbsp;</p>

        <div class="row">
          <div class="well">
            <h4>Let's go onYOURway <small>Event</small></h4>
            <p>
              Bei einem Event wird die Initiative und das Tool <strong>onYOURway</strong> vorgestellt
              und die lokale Wirtschaft, Vereine und private Anbieter machem sich gemeinsam auf den Weg,
              erfassen die Besonderheiten und Vorzüge ihrer Region, entdecken lokale Angebote und entwickeln
              neue Perspektiven ihre Region gemeinsam noch attraktiver zu gestalten.
            </p>
          </div>
          <div class="well">
            <h4>Inspiration - Soviel ist möglich <small>Workshop</small></h4>
            <p>Zum Einstieg bringt <a href="http://mutmacherei.net">die Mutmacherei</a> Inspirationen aus der ganzen Welt und zeigt Beispiele für innovative und mutmachende Projekte, die auf neue Ideen bringen.</p>
          </div>
          <div class="well">
            <h4>Gut drauf - Was gibt es bei uns? <small>Workshop</small></h4>
            <p>
              Doch auch in Ihrem Umfeld gibt es bestimmt Vorzeigeprojekte: Gemeinsam mit dem Know-how der Mutmacherei und gesammelten Hinweisen der Bürger<span class="gender">innen</span> bleiben Ihre lokalen und regionalen Schätze nicht länger ein Geheimtipp.
              Über die Vorzeigeprojekt-Sammlung des <a href="http://mutmacherei.net/index.htm#solutions" target="_blank">Mut-Map</a> und die Standortkarten-Plattform <a href="http://onyourway.at/#/about/region" target="_blank">onYOURway</a> können Sie nun zeigen, was Sie drauf haben.
            </p>
          </div>
          <div class="well">
            <h4>Wunschliste - Was gibt es bei uns noch nicht, was wünschen wir uns? <small>Workshop</small></h4>
            <p>
              Und schließlich soll auch <strong>Neues</strong> entstehen: Was wünscht sich die Bevölkerung?
              Welche der Inspirationen machen Lust auf Umsetzung vor Ort? Welche Ideen möchten die Bürger<span class="gender">innen</span> selbst ins Leben rufen und umsetzen?
            </p>
          </div>
          <div class="well">
            <h4>Planschmiede - Wie gehen wir's an? <small>Workshop</small></h4>
            <p>Wie lassen sich diese Vorschläge umsetzen? Packen wir es gleich an!</p>
          </div>
          <div class="well">
            <h4>Region Scout <small>Initiative</small></h4>
            <p>
              Vereine, Jugendgruppen und Schulklassen entdecken Geschäfte, Lokale, öffentlice Angebote und private Initiativen
              in ihrer Region, interviewen die Betreiber/innen, und unterstützen sie, ihren Standort in die Karte aufzunehmen.
            </p>
            <p>
              Betreiber<span class="gender">innen</span> lernen dadurch wie einfach sie mit <strong>onYOURway</strong> im Internet sichtbar werden.
              Viel mehr aber entdecken die Scouts selbst wie reichhaltig und vielfältig die Angebote in ihrer unmitelbaren Umgebung sind
              und stellen fest wie cool ihre Heimat eogentlich ist.
            </p>
          </div>
          <div class="well">
            <h4>OSM Mapper - gemeinsam die Welt vermessen <small>Schulprojekt</small></h4>
            <p>
              Gibt es einen besseren Weg Geografie zu verstehen, als selbst an einem der größten Vermessungsprojekte der Welt mitzuarbeiten?
            </p>
            <p>
              <a href="http.//osm.org">OpenStreetMaps</a> ist wie Google Maps oder eigentlich eher wie <a href="http://de.wikipedia.org/wiki/Openstreetmap">Wikipedia</a>,
              eine freie Weltkarte, von freiwilligen zusammengestellt.
            </p>
            <p>
              Mit OSM Mapper werden Schüler<span class="gender">innen</span> selbst zu Geografen, erfahren wie OpenStreetMap funktioniert und wie sie selbst
              die Karte ihrer Region verbessern, zu einem der umfangreichsten Gemeinschaftsprojekte der Welt beitragen,
              und der ganzen Welt zeigen können, was alles in ihrer Region steckt.
            </p>
          </div>
          <!--<div class="col-md-6">
      </div>-->
        </div>
      </article>

      <article id="info">
        <h2>Mehr Information <small>Downloads und Links</small></h2>
        <h3>Downloads</h3>
        <ul>
          <li><i class=" fa fa-fw fa-download"></i> <a href="../../../Content/documents/onYOURway - Was ist faul.pdf">Präsentation: Was ist faul mit meinem Einkaufsleben? (pdf)</a></li>
          <!--<li><a>Präsentation: What's wrong with my shoppinglife? (pdf)</a></li>-->
          <li><i class=" fa fa-fw fa-download"></i> <a href="../../../Content/documents/onYOURway%20-%20Projektinformation%20Regionalpartner.pdf">Flyer: Projektinformation für Gemeinden und Regionen (pdf)</a></li>
          <li><i class=" fa fa-fw fa-download"></i> <a href="http://mutmacherei.net/downloads/Die%20Mutmacherei%20-%20Mut%20Vor%20Ort.pdf">Flyer der Mutmacherei: Mut vor Ort (pdf)</a></li>
        </ul>
      </article>

      <article id="los">
        <h2>Ihre Region mit dabei <small>Los geht's</small></h2>
        <p>
          Wer lokale Angebote sucht, startet die Suche oft auf der Website der Region.
        </p>
        <p>
          Viele Gemeinden bieten auch jetzt schon ein Verzeichnis mit Geschäften, Vereinen und öffentlichen Stellen an. Die meisten allerdings mit
          eingeschränkter Suchfunktion und wenig ansprechender, nicht mehr zeitgemäßer Aufbereitung der Ergebnisse.
        </p>
        <!--<p>
          Wenn Sie 
        </p>-->
        <p>
          Wenn Sie eine Gemeinde, Region oder regionale Initiative vertreten und sich für <strong>onYOURway</strong>
          in Ihrer Region interessieren, schicken Sie uns doech ein Email an <a class="email" data-bind="text: email, attr: {href: emailUrn }"></a>.
        </p>
      </article>

    </div>

  </div>
</div>