
<input type="text"
       class="form-control searchBox"
       placeholder="Suchen"
       name="searchFor"
       autocomplete="off"
       spellcheck="false"
       autofocus="autofocus"
       data-bind="
            value: searchTerm,
            select2vM: {
                multiple: true,
                minimumInputLength: 1,
                data: {results: searchSuggestionObjects(), text: 'Name'},
                formatResult: formatSearchSuggestion,
                formatSelection: formatSelection,
                createSearchChoice: createSearchChoice,
                createSearchChoicePosition: 'bottom',
                placeholder: 'Suchen',
                id: 'Name',
                width: 'off'
            },
            event:{ 'change': selectionChangedEvent }
    ">
<a title="Suchen" class="searchBoxButton" tabindex="-1" data-bind="click: triggerSearch"> <i class="fa fa-fw fa-search"></i></a>
