<div class="categories" data-bind="foreach: categories"><!--
     --><a class="hidden-sm" data-bind="css: $parent.getCategoryCss($data), text: $data.name">
    </a><a class="visible-sm" data-bind="css: $parent.getCategoryCss($data), text: $data.shortName">
</a></div>

<div class="tags" data-bind="foreach: categories, css: {tagSelectionOpen: showTagSelection}"><!--
--><div data-bind="css: $data.key"><ul data-bind="foreach: $data.tags">
        <li data-bind="click:function(){$parents[1].toggleTag($data)}, css: {active: $data.active}"><span data-bind="text: $data.Name"></span></li>
</ul></div></div>
