header {

  .header>div, .searchbar {
    margin: 0 auto;
    max-width: 1000px;
  }

  a:hover {
    text-shadow:0 -1px 0 #000;
  }

  .header {
    height: 70px;
    border-bottom: 1px solid #dedddd;
    overflow: hidden;

    .navi, .login {
      a {
        padding: 2px 2% 5px 2%;
        border-bottom: 1px solid #ffffff;
        display: inline-block;
        color: #1a1a1a;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 1px solid #a1a1a1;
      }
    }

    .navi a {
      height: 24px;
    }

    .login {
      text-align: right;
      font-size: smaller;
      padding-top: 10px;

      a {
        height: 19px;
      }

    }

    .logo {
      float: left;
      overflow: hidden;
      width: 180px;
      height: 69px;
      position: relative;

      img {
        left: 0;
        top: 3px;
        height: 66px;
        width: 181px;
        position: absolute;
      }
    }
  }

  .searchbar {
    clear: both;
    font-size: smaller;
    vertical-align: bottom;
    padding-top: 8px;

    a.btn {
      border-left: 1px solid #dedddd;
    }
    a.btn.pos {
      border-right: 1px solid #dedddd;
    }

    a.btn {
      display: inline-block;
      color: #1a1a1a !important;
      text-decoration: none;
      width: 34px;
      text-align: center;
      vertical-align: bottom;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    a.btn i {
      line-height: 32px;
      height: 32px;
      vertical-align: bottom;
      font-size: 18px;
      border-bottom: 2px solid @black;
    }

    span.tagSelection {
      @media (min-width: 620px) {
        display: inline-block;
      }
      vertical-align: bottom;
      height: 34px;
      margin-right: -4px;
      position: relative;

      .tags {
        position: absolute;
        z-index: 7;
        width: 100%;
        padding-right: 35px;
        box-sizing: content-box;
        background-color: @white;
        border-left: 1px solid @grey;
        border-right: 1px solid @grey;
        border-bottom: 1px solid @grey;
        display: none;
      }
      .tags.tagSelectionOpen {
        display: block !important;
      }
    }

  }
}
