@import url('../../vonMorgen/fonts/source-sans-pro.css');

@graublau: rgb(100,122,133);
@blau: rgb(0,152,137);
@gruen: rgb(151, 191, 13);
@gelb: rgb(225, 221,0);
@rosa: rgb(229, 98, 146);
@beere: rgb(170, 56, 108);
@schwarz: #000;
@kohle: rgb(26,26,26);
@anthrazit: rgb(45,45,45);
@dunkelgrau: rgb(102,102,102);
@hellgrau: #dedddd;
@weiss: #fff;

@initiatives: @gruen;
@events: @rosa;
@shops: @blau;

@accent1: @dunkelgrau;
@accent2: @rosa;
@accent3: @blau;
@accent4: @gruen;
@selectedItem: @graublau;

@import url('searchBox.less');
@import url('siteCollector.less');


body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, header, div, span {
    margin: 0;
}

div.searchBox {
    width: 30%;
}

#map, .aboveMap {
  position: absolute;
  top: 113px;
  bottom: 0;
  left: 0;
  right: 0;
}
#map {
    z-index: 2;
    background-color: #ebebeb;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.aboveMap {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50);
}


.belowMap {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
}

.middle200px {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    height: 200px;
    width: 400px;
    background-color: #dedddd;
    border: 1px solid rgb(100,122,133);
}

header {

    .header>div, .searchbar {
        margin: 0 auto;
        max-width: 1000px;
    }

    a:hover {
        text-shadow:0 -1px 0 #000;
    }

    .header {
        height: 70px;
        border-bottom: 1px solid #dedddd;
        overflow: hidden;

        .navi, .login {
            a {
                padding: 3px 2% 7px 2%;
                border-bottom: 1px solid #ffffff;
                display: inline-block;
                color: #1a1a1a;
                text-decoration: none;
            }
            a:hover {
                border-bottom: 1px solid #a1a1a1;
            }
        }

        .login {
            text-align: right;
            font-size: smaller;
            padding-top: 15px;

        }

        .logo {
            float: left;
            overflow: hidden;
            width: 180px;
            height: 69px;
            position: relative;

            img {
                left: 0;
                top: 0;
                height: 90px;
                position: absolute;
            }
        }
    }

    .searchbar {
        clear: both;
        height: 48px;
        padding-top: 10px;
        font-size: smaller;

        a.btn, .categories a {
            border-left: 1px solid #dedddd;
        }
        a.btn.pos {
            border-right: 1px solid #dedddd;
        }

        a.btn, .searchBoxButton {
            display: inline-block;
            color: #1a1a1a !important;
            text-decoration: none;
            width: 34px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        a.btn i, .searchBoxButton i {
            font-size: 18px;
            line-height: 1.7em;
            border-bottom: 3px solid black !important;
        }

        .categories {
            margin-right: -4px;
            a {
                text-align: center;
                display: inline-block;
                border-bottom: 3px solid transparent;
                padding: 8px 0 7px 0;
            }
            a.visible-m {
                width: 85px;
            }
            a.hidden-sm {
                width: 18%;
            }

            .initiatives {
                border-bottom-color: #97bf0d;
            }
            .initiatives.active {
                background-color: #97bf0d;
                color: #ffffff !important;
            }
            .events {
                border-bottom-color: #e56292;
            }
            .events.active {
                background-color: #e56292;
                color: #ffffff !important;
            }
            .companies {
                border-bottom-color: #009889;
            }
            .companies.active {
                background-color: #009889;
                color: #ffffff !important;
            }
            a.initiatives.active:hover, a.events.active:hover,a.companies.active:hover {
                text-shadow:0 -1px 0 #fff !important;
            }
        }


    }
}

@media (min-width: 892px) {
    .visible-sm, .visible-m {
        display: none !important;
    }
}

@media (max-width: 891px) {
    .hidden-sm {
        display: none !important;
    }
    div.searchBox {
        width: 40%;
    }
}

@media (min-width: 620px) {
    .visible-s {
        display: none !important;
    }
    @media (max-width: 891px) {
        .hidden-m {
            display: none !important;
        }
        div.searchBox {
            width: 40%;
        }
    }
}

@media (max-width: 629px) {
    .visible-m, .hidden-s {
        display: none !important;
    }
    div.searchBox {
        width: 52%;
    }
}
