@import url('../../vonMorgen/fonts/source-sans-pro.css');

@graublau: rgb(100,122,133);
@blau: rgb(0,152,137);
@gruen: rgb(151, 191, 13);
@gelb: rgb(225, 221,0);
@rosa: rgb(229, 98, 146);
@beere: rgb(170, 56, 108);
@schwarz: #000;
@kohle: rgb(26,26,26);
@anthrazit: rgb(45,45,45);
@dunkelgrau: rgb(102,102,102);
@hellgrau: #dedddd;
@weiss: #fff;

@initiatives: @gruen;
@events: @rosa;
@shops: @blau;

@accent1: @dunkelgrau;
@accent2: @rosa;
@accent3: @blau;
@accent4: @gruen;
@selectedItem: @graublau;

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, header, div, span, ul, ol {
    margin: 0;
}

@import url('_responsive.less');
@import url('_map.less');
@import url('_nav.less');
@import url('home.less');
@import url('components/searchBox.less');
@import url('my/siteCollector.less');
@import url('searchResults/placesList.less');
@import url('searchResults/placePreview.less');
