<div role="navigation" class="oyw-content-nav col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#step0">Neuer Standort</a></li>
    <li><a href="#step1">Name & Beschreibung</a></li>
    <li><a href="#step2">Anschrift</a></li>
    <li><a href="#step3">Öffnungszeiten & Kontaktdaten</a></li>
    <li><a href="#step4">Geschäftsart</a></li>
    <li><a href="#step5">Speichern</a></li>
    <li><a href="#step6">Foto(s)</a></li>
  </ul>
</div>

<form role="main" class="oyw-content-main col-md-9" data-bind="with: location">

  <article id="step0">
    <h2>Neuer Standort</h2>
    <p>langer Einleitungstext</p>
  </article>

  <!--Step1: Firma und Beschreibung-->
  <article id="step1">
    <h2>Name</h2>
    <p>Name und Beschreibung Ihres Unternehmens</p>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="z.B. Firma" data-bind="value: Name" />
      </div>
      <div class="form-group col-md-12">
        <label for="inputName">Alias-Namen</label>
        <button class="btn btn-success btn-sm" data-bind="click: $root.addAlias"><i class="fa fa-plus"></i><span class="sr-only">Neuer Alias</span></button>
        <ul data-bind="foreach: Aliases">
          <li>
            <input type="text" class="form-control" id="inputNewAlias" data-bind="value: Name" placeholder="auch bekannt als" />
            <input type="text" class="form-control" id="inputNewAlias" data-bind="value: Lang" placeholder="Sprache" />
            <button class="btn btn-danger btn-sm" data-bind="click: $root.removeAlias"><i class="fa fa-trash-o"></i><span class="sr-only">Alias löschen</span></button>
          </li>
        </ul>
        <!--<button type="button" class="btn" />-->
      </div>
      <div class="form-group col-md-12">
        <label for="inputName">Beschreibung</label>
        <textarea class="form-control" maxlength="500" placeholder="Was bieten Sie an (max. 500 Zeichen)?" />
      </div>
    </div>
  </article>

  <!--Step2: Anschrift-->
  <article id="step2">
    <h2>Anschrift</h2>
    <div class="row">
      <!--Adresse-->
      <div class="col-sm-6 align-left align-right">
        <div class="row">
          <p>Bitte Ihre Adressdaten eintragen:</p>
          <div class="form-group col-sm-8 align-left">
            <label class="sr-only" for="inputStreet">Straße</label>
            <label for="inputStreet">Straße</label>
            <input type="text" class="form-control" id="inputStreet" placeholder="Straße" data-bind="value: Street">
          </div>
          <div class="form-group col-sm-4 align-left">
            <label class="sr-only" for="inputHausnummer">Hausnummer</label>
            <label for="inputHausnummer">Hausnummer</label>
            <input type="text" class="form-control" id="inputHouseNumber" placeholder="00" data-bind="value: HouseNumber">
          </div>
          <div class="form-group col-sm-4 align-left">
            <label class="sr-only" for="inputZIP">PLZ</label>
            <label for="inputZIP">PLZ</label>
            <input type="text" class="form-control" id="inputZIP" maxlength="4" placeholder="1234" data-bind="value: Zip">
          </div>
          <div class="form-group col-sm-8 align-left">
            <label class="sr-only" for="inputTown">Ort</label>
            <label for="inputTown">Ort</label>
            <input type="text" class="form-control" id="inputTown" maxlength="36" placeholder="Ort" data-bind="value: City">
          </div>

          <div class="col-sm-12 align-left">
            <label class="sr-only" for="inputCountry">Land</label>
            <label for="inputCountry">Land</label>
            <select class="form-control" id="inputCountry" data-bind="value: Country">
              <option value="DE">Deutschland</option>
              <option value="FR">Frankreich</option>
              <option value="AT">Österreich</option>
              <option value="CH">Schweiz</option>
              <option value="IT">Südtirol</option>
            </select>
          </div>
        </div>
        <div class="row">
          <h4>Position</h4>
          <button type="submit" class="btn btn-default">Adresse anzeigen</button>
          <button type="submit" class="btn btn-default">Position verwenden</button>
        </div>
      </div>

      <!--Karte-->
      <div class="col-sm-6 well">
        map here
      </div>
    </div>
  </article>

  <!--Step3: Öffnungszeiten, Kontaktdaten-->
  <article id="step3">
    <h2>Kontakt</h2>
    <div class="row">
      <p>Wie und wann wollen Sie von Ihren Kunden erreicht werden? (Alle Angaben sind optional.)</p>
      <label for="Verkaufstage" class="control-label">Öffnungszeiten</label>
      <div class="row">
        <div class="form-group col-sm-5 align-left">
          <label class="sr-only" aria-labelledby="Verkaufstage"></label>
          <select class="form-control" aria-labelledby="Verkaufstage">
            <option value="Mo-Th">Mo-Do</option>
            <option value="Sa">Sa</option>
            <option value="Th">Do</option>
            <option value="Mo">Mo</option>
            <option value="Tu">Di</option>
            <option value="We">Mi</option>
            <option value="Th">Do</option>
            <option value="Fr">Fr</option>
            <option value="PH">Feiertag</option>
          </select>
        </div>
        <div class="form-group col-sm-4 align-left">
          <label class="sr-only" aria-labelledby="Öffnungszeiten"></label>
          <select class="form-control" aria-labelledby="Öffnungszeiten">
            <option value="09:00-17:00">09:00-17:00</option>
            <option value="08:00-18:00">08:00-18:00</option>
            <option value="08:00-12:00">08:00-12:00</option>
            <option value="13:00-18:00">13:00-18:00</option>
          </select>
        </div>
        <div class="form-group col-sm-3 align-left">
          <label class="sr-only" aria-labelledby="geöffnet"></label>
          <select class="form-control" aria-labelledby="geöffnet">
            <option value="">geöffnet</option>
            <option value="closed">geschlossen</option>
          </select>
        </div>
        <div class="form-group col-sm-12 align-left">
          <label for="sr-only">Ihre Öffnungszeiten</label>
          <!--see: http://wiki.openstreetmap.org/wiki/Key:opening_hours -->
          <!--evaluation tool: http://openingh.openstreetmap.de/evaluation_tool -->
          <input type="text" class="form-control" id="inputDayTimeIndividual" placeholder="z.B.: Mo-Fr 08:00-18:00">
        </div>
      </div>

      <div class="form-group col-sm-6 align-left">
        <label class="sr-only" for="inputEmail">Telefon</label>
        <label for="inputPhone">Telefon</label>
        <input type="text" class="form-control" id="inputPhone" data-bind="Phone" placeholder="z.B.: 02252 123 456 78 ">
      </div>
      <div class="form-group col-sm-6 align-left">
        <label class="sr-only" for="inputEmail">E-Mail</label>
        <label for="inputEmail">Email</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="z.B.: ich@binich.at">
      </div>
    </div>
</article>


  <!--Step4: Geschäftsart-->
  <article id="step4">
    <h2>Geschäftsart</h2>
    <p>
      Was ist Ihre hauptsächliche Geschäftsart?
      Mehrere Angaben möglich:
    </p>
    <div class="form-group">
      <ul class="dropdown-menu" role="menu" aria-labelledby="Hauptsächliche Geschäftsart">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Einzelhandel</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Gastronomie</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Erzeuger</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">xxx</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">xxx</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">xxx</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">xxx</a></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="inputName">Lifestyle</label>
      <input type="text" class="form-control" id="inputName" placeholder="Welche Lifestyle-Kriterien treffen zu (z.B. Bio, Fairtrade, aus der Region, ....)" />
    </div>
  </article>


  <!--Step5: Speichern-->
  <article id="step5">
    <h2>Angaben speichern</h2>
    <p>Speichern Ihrer Angaben</p>
    <div class="btn-group btn-group-lg">
      <button type="button" class="btn btn-default">Speichern</button>
      <button type="button" class="btn btn-default">Abbruch</button>
    </div>
  </article>


  <!--Step6: Foto(s) hochladen-->
  <article id="step6">
    <h2>Foto</h2>
    <p>Ein Foto ist wie eine ansprechende Auslage. Eine Einladung.</p>
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default">Foto hochladen</button>
      <button type="button" class="btn btn-default">Jetzt fotografieren</button>
      <button type="button" class="btn btn-default">Speichern</button>
    </div>

    <!--
        crop: http://deepliquid.com/projects/Jcrop/demos.php?demo=live_crop
        an alternative, commercial idea: http://0.s3.envato.com/files/72583218/index.html
    -->
  </article>
</form>
