@import url('../fonts/source-sans-pro.css');
/*colors*/
/***************************/
/* onyYOURway overrides      */
#mySiteCollector {
  background-color: #ffffff;
  top: 113px;
  /*bottom: 0px;
	top: 30%;
	height: 70%;
	width: 100%;*/
}
/***************************/
/* Boostrap overrides      */
/*#region base styling */
html {
  font-family: 'source-sans-pro', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: 0.06em;
}
body {
  background-color: #ffffff;
  color: #1a1a1a;
}
/*#endregion base styling */
/*#region nav */
#navbar {
  position: relative;
  font-weight: 400;
  background-color: #ffffff;
}
#navbar > .container {
  position: relative;
}
#vm-header-logo {
  position: absolute;
  margin-top: 10px;
}
#vm-header-row {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #dedddd;
  text-transform: uppercase;
}
#navbar a {
  display: inline-block;
  color: #1a1a1a !important;
  text-decoration: none !important;
  text-align: center;
}
#navbar a:hover {
  font-weight: 600;
}
#vm-nav-2 {
  position: absolute;
  right: 0;
  margin-top: 20px;
  height: 10px;
  font-size: 10px;
}
#vm-nav-2 a {
  width: 90px;
  margin-left: 3px;
  margin-right: 3px;
}
#vm-nav-1 {
  width: 100%;
  position: relative;
  margin: 35px auto 0;
  font-size: 15px;
}
#vm-nav-1 > div {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#vm-nav-1 a {
  width: 120px;
  padding: 6px 0;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #ffffff;
}
#vm-nav-1 a:hover {
  font-weight: 600;
  border-bottom: 1px solid #1a1a1a;
}
#vm-search-row {
  height: 48px;
  width: 100%;
  padding-top: 5px;
}
#search-bar {
  width: 100%;
}
#vm-search-row > * {
  display: inline-block;
  height: 36px;
}
#vm-search-row i {
  font-size: 20px;
}
#vm-search-row .bd-l {
  border-left: 1px solid #dedddd;
  margin-right: 0;
}
#vm-search-row .bd-r {
  border-right: 1px solid #dedddd;
  margin-right: -1px;
}
#search-bar input.searchFor {
  width: 180px;
  height: 36px;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #dedddd;
}
#vm-search-options {
  /*width: 680px;*/
}
#vm-search-options a.btn {
  width: 220px;
  text-align: center;
  display: inline-block;
}
#vm-search-options .btn {
  border-radius: 0;
  border-bottom: 3px solid #dedddd;
}
#vm-search-options .initiative {
  border-bottom-color: #97bf0d;
}
#vm-search-options .event {
  border-bottom-color: #e56292;
}
#vm-search-options .shop {
  border-bottom-color: #009889;
}
#vm-search-options .active.initiative {
  color: #ffffff !important;
  background-color: #97bf0d;
}
#vm-search-options .active.event {
  color: #ffffff !important;
  background-color: #e56292;
}
#vm-search-options .active.shop {
  color: #ffffff !important;
  background-color: #009889;
}
input.searchFor {
  width: 320px !important;
}
/*(min-width: 992px) and*/
@media (max-width: 1199px) {
  /* md */
  #vm-search-options a.btn {
    width: 215px;
  }
  input.searchFor {
    width: 140px !important;
  }
}
@media (max-width: 991px) {
  /* md */
  #vm-search-options a.btn {
    width: 120px;
  }
  input.searchFor {
    width: 210px !important;
  }
  #vm-nav-1 a {
    width: 110px;
  }
}
/* md */
/*#endregion nav */
/*#endregion base styling */
/*#region theme */
input.form-control,
textarea.form-control,
select.form-control {
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #666666;
}
/*::-webkit-input-placeholder { color: @hellgrau; }
::-moz-placeholder { color: @hellgrau; }
:-ms-input-placeholder { color: @hellgrau; }
input:-moz-placeholder { color: @hellgrau; }*/
.btn {
  border-radius: 0;
}
.active {
  box-shadow: none !important;
}
.gender {
  opacity: 0.5;
}
.toast-top-left {
  margin-top: 113px;
}
ul,
ol {
  margin-top: 0;
  padding-left: 0.2em;
}
.oyw-content-main li {
  list-style: none;
}
.oyw-content-main li:before {
  content: '●';
  color: #f9a01b;
  margin-right: 0.6em;
}
.list-group-item {
  font-size: 15px;
  font-weight: lighter;
  padding: 10px 10px 10px 10px;
}
.oyw-chk-unchecked {
  color: #666666;
  margin-right: 7px;
}
.oyw-chk-checked {
  color: #e56292;
  margin-right: 7px;
  font-weight: bold;
}
/*.btn-default {
	background-color: #5b5b5b;
	color: #fff;
}*/
.btn-success {
  background-color: #97bf0d;
  border-color: #97bf0d;
}
.btn-warning {
  background-color: #666666;
  border-color: #666666;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  background-color: #e56292;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #f1f1f1;
}
.alert {
  border: none;
  color: #fafafa;
}
.alert-info {
  background-color: #787878;
}
.alert-warning {
  background-color: #e5961f;
}
.alert-danger {
  background-color: #8d2e2e;
}
.alert-success {
  background-color: #849a2b;
}
.page-background,
.page,
.oyw-content,
.oyw-content-main {
  position: relative;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}
.page,
.oyw-content-nav,
.jumbotron {
  border-radius: 3px !important;
}
.oyw-content header {
  margin: -15px -15px 20px;
  padding: 25px 30px 20px;
  border: none;
}
.oyw-content header small {
  color: #646464;
}
.badge-sup {
  vertical-align: text-top;
  /*margin-top: -0.3em;*/
  margin-left: -0.4em;
  margin-right: -0.6em;
}
.badge-warning {
  background-color: #666666;
}
.oyw-content-main > article > h2 {
  display: inline-block;
  border-bottom: 3px solid #666666;
  margin-bottom: 10px;
}
.icon-highlight {
  color: #333333;
}
/*#endregion theme */
/*#region layout */
/*body.slide-active {
	overflow-x: hidden;
}

#applicationHost {
	width: 50%;
	height: 100%;
	overflow: hidden;
}*/
.container {
  padding-left: 0;
  padding-right: 0;
}
.page-background {
  position: absolute;
  top: 113px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #ffffff;
  overflow: auto;
}
.page {
  position: relative;
  margin: 45px auto 15px auto;
  border: 1px solid rgba(5, 5, 5, 0.65);
  min-height: 590px;
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 0px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 0px;
	border-radius: 3px;*/
}
.oyw-content {
  padding: 15px 15px 15px 15px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
form > .row {
  margin-left: -15px;
  margin-right: -15px;
}
.oyw-content-main {
  height: 590px;
  margin-left: 25%;
  overflow: hidden;
}
.jumbotron,
.oyw-content-main > article {
  position: relative;
  height: 590px;
  padding: 100px 15px 20px 20px;
}
.oyw-content-main > article {
  overflow: auto;
  margin-right: -15px;
  padding-right: 30px;
}
.jumbotron {
  position: relative;
  padding: 28px 0 0 0 !important;
  /*padding-right: 0; /*not combine with padding, otherwise will be owerridden ba bootstrap
	padding-left: 0;*/
  margin-right: -15px;
  margin-left: -15px;
  background-color: transparent;
  background-position: center center;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  border-radius: 0 !important;
  color: #2c2c2c;
}
.jumbotron > * {
  background-color: rgba(241, 241, 241, 0.6);
}
.jumbotron > h1,
.jumbotron > h2,
.jumbotron > h3,
.jumbotron > h4 {
  display: inline-block;
  padding: 0.45em 20px 0.45em 20px;
  font-weight: bold;
  color: #464646;
}
.jumbotron > h1 {
  padding: 0.4em 0.6em 0.4em 30px;
}
.jumbotron > h2 {
  font-size: 42px;
}
.jumbotron > h3 {
  font-size: 30px;
}
.jumbotron > p {
  position: absolute;
  left: 15%;
  bottom: -15px;
  width: 70%;
  padding: 0.5em 20px 0.65em 20px;
}
.no-padding {
  padding: 0 !important;
}
.align-left {
  padding-left: 0;
}
.align-right {
  padding-right: 0;
}
/*#region responsive tweaks*/
/* un fix the navbar when active so that all the menu items are accessible */
/*.navbar.navbar-fixed-top.slide-active {
	position: relative;
}*/
@media (max-width: 991px) {
  /* xs & sm */
  .page-background {
    background-color: #f8f8f8;
  }
  .page {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
  .oyw-content-main {
    height: auto;
    overflow: auto;
  }
  header {
    margin: 0;
  }
  .oyw-content-main > article {
    height: auto;
    padding-top: 0;
  }
  .jumbotron,
  .video-container {
    height: 590px;
  }
}
/* xs & sm */
@media (max-width: 767px) {
  /* xs */
  .page-background {
    top: 0;
  }
  .oyw-content-nav {
    display: none;
  }
  .oyw-content-main {
    margin: 0;
    min-height: 0;
    height: auto;
    overflow: auto;
  }
}
/* xs */
@media (min-width: 768px) and (max-width: 991px) {
  /* sm */
  .oyw-content-main {
    height: 100%;
    overflow: hidden;
  }
}
/* sm */
@media (min-width: 992px) and (max-width: 1199px) {
  /* md */
}
/* md */
@media (min-width: 1200px) {
  /* lg */
}
/* lg */
/*#endregion responsive tweaks*/
/*#endregion layout */
/*#region forms */
.oyw-input-list {
  list-style: none;
}
.oyw-input-list > li:before {
  content: none;
}
/*#endregion forms */
/*#region controls */
/*.loader {
	z-index: 200;
	visibility: hidden;
}
	.loader.active {
		visibility: visible;
	}*/
.oyw-btn-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  text-align: right;
  padding: 7px 8px 0 0;
  color: #ccc;
  opacity: 0.5;
  z-index: 9;
  border-radius: 0 0 0 35px;
}
.oyw-btn-close:hover,
.oyw-btn-close:focus {
  text-decoration: none;
}
.oyw-btn-close:hover,
.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  opacity: 1;
  background-color: #666666 !important;
  color: #fff !important;
}
.oyw-btn-slide {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  padding: 4px 0 0 0;
  color: #ccc;
  opacity: 0.4;
  z-index: 9;
}
.oyw-btn-slide:hover {
  opacity: 1;
  background-color: #666666;
  color: #fff;
}
.oyw-btn-slide-right {
  right: 0;
  border-radius: 30px 0 0 0;
  padding-left: 4px;
}
.oyw-btn-slide-left {
  left: 0;
  border-radius: 0 30px 0 0;
  padding-right: 4px;
}
.datepicker {
  padding: 10px 15px;
}
.datepicker table tr td {
  width: 35px;
  height: 35px;
}
.timeInputSlider {
  width: 100%;
}
.timeInputSlider > .timeInput {
  width: 65px;
}
.timeInputSlider > .timeSlider {
  margin-left: 75px;
  margin-top: 18px;
  margin-right: 5px;
}
/*.timeSlider {
  position: relative;
}*/
.timeSlider > span {
  color: #ccc;
  font-size: 0.7em;
  margin-top: -20px;
  width: 1em;
  position: absolute;
  margin-left: -0.5em;
}
/*#endregion controls */
/*#region map*/
#map {
  position: absolute;
  top: 113px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ebebeb;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#map.listOpen {
  right: 310px;
}
#map.detailsOpen {
  right: 525px;
}
#map.listOpen.detailsOpen {
  right: 835px;
}
path.oyw-map-pointer {
  stroke: #375662;
  stroke-width: 1px;
  stroke-opacity: 0.6;
  fill: #375662;
  fill-opacity: 0.6;
}
.leaflet-left .leaflet-control {
  margin-left: 18px;
}
.leaflet-top .leaflet-control {
  margin-top: 20px;
}
.leaflet-control {
  border-radius: 12px;
  border-width: 2px !important;
}
.leaflet-bar {
  box-shadow: none;
  border: none;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  width: 30px;
  height: 30px;
  border-radius: 15px !important;
  outline: none;
  color: #ccc !important;
  opacity: 0.4;
  vertical-align: central;
}
.leaflet-control-zoom-out {
  margin-top: 5px;
}
/*.leaflet-control-attribution {
	display: none;
}*/
/*#endregion map*/
/*#region locationList */
#locationList {
  display: none;
  position: absolute;
  top: 113px;
  bottom: 0;
  right: 0;
  width: 310px;
  z-index: 2;
  background-color: #fff;
  overflow: auto;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#locationList.listOpen {
  display: block;
}
#locationList.listOpen.detailsOpen {
  right: 525px;
}
#locationList ul {
  position: relative;
  padding: 0;
}
.locationInfo {
  border: 1px 1px 1px 5px solid #f1f1f1;
  border-left-color: #666666;
  background-color: #f9f9f9;
  color: #777;
  height: 51px;
  overflow: hidden;
  /*padding: 7px 5px 0 0;*/
  float: left;
  width: 100%;
  min-width: 280px;
  max-width: 350px;
}
.locationInfo * {
  margin: 0;
}
.locationInfo-imageArea {
  position: relative;
  width: 51px;
  height: 51px;
  /*background-color: #cccccc;*/
  background-color: #009889;
  float: left;
  /*margin: -8px 10px -1px -1px;*/
  margin-right: 7px;
  overflow: hidden;
}
.locationInfo-imageArea > i {
  position: absolute;
  right: 12px;
  top: 11px;
  color: #f9f9f9;
}
.locationInfo-image {
  position: relative;
  width: 51px;
  height: 51px;
  background-color: transparent;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.locationInfo-title {
  margin-top: 5px;
  margin-bottom: -1px;
}
.locationInfo-addr {
  font-size: 0.85em;
  opacity: 0.6;
}
.locationInfo.isOpen {
  background-color: #fff;
  color: inherit;
}
.locationInfo.isFeatured {
  border-left-color: #e56292;
}
.locationInfo.isFeatured > .locationInfo-imageArea {
  background-color: #e56292;
}
.locationInfo.selected {
  border-color: #375662;
}
.locationInfo:hover {
  background-color: #f8f8f8;
  color: inherit;
  /*transform: scale(1.05);*/
}
.locationInfo.selected > .locationInfo-imageArea {
  background-color: #647a85;
}
.locationInfo > i.detailsIndicator {
  position: absolute;
  right: 5px;
  top: 13px;
  color: #647a85;
  opacity: 0.73;
  display: none;
  font-size: 1.8em;
}
.locationInfo.selected > i.detailsIndicator {
  display: block;
}
@media (max-width: 767px) {
  /*xs*/
  #locationList,
  .locationInfo {
    width: 100%;
  }
}
/*#endregion locationList */
/*#region locationDetails*/
#ventureDetails {
  display: none;
  position: absolute;
  top: 113px;
  bottom: 0;
  right: 0;
  width: 525px;
  z-index: 1;
  overflow: auto;
  background-color: #f1f1f1;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#ventureDetails.detailsOpen {
  display: block;
}
.ventureDetails-imageArea {
  position: relative;
  width: 100%;
  height: 525px;
  margin-left: 0;
  margin-bottom: 15px;
  background-color: #5b5b5b;
  overflow: hidden;
}
/*.ventureDetails-imageArea > i {
		position: absolute;
		left: 100px;
		top: 100px;
		color: #f9f9f9;
	}*/
.ventureDetails-image {
  position: relative;
  width: 525px;
  height: 525px;
}
.ventureDetails-header {
  position: absolute;
  top: 15px;
  background-color: rgba(241, 241, 241, 0.6);
  padding: 0.4em 20px 0.4em 20px;
}
.ventureDetails-taglist {
  position: absolute;
  left: 15px;
  bottom: 5px;
  list-style: none;
}
.ventureDetails-taglist li {
  padding-bottom: 0.2em;
  margin-left: 0;
}
.ventureDetails-details {
  margin-top: -10px;
  padding: 0 20px 20px 20px;
}
.ventureDetails-details > h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  color: #9b9b9b;
  /*border-bottom: 2px solid #eeac49;*/
  margin-bottom: 5px;
}
.oyw-action-list {
  list-style: none;
  padding-left: 0;
  margin-right: 15px;
}
@media (max-width: 767px) {
  /*xs*/
  #ventureDetails {
    width: 100%;
  }
}
/*#endregion locationDetails*/
/*#region shopping list*/
.oyw-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: #f8f8f8;*/
  background-color: #4b4b4b;
  opacity: 0;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}
.oyw-bg-overlay.visible {
  opacity: 0.5;
}
.oyw-todo-done {
  text-decoration: line-through;
  opacity: 0.5;
}
/*#endregion shopping list*/
/*#region owl-carousel*/
#idee.owl-carousel {
  overflow: hidden;
}
/*#endregion owl-carousel*/
/*#region media content*/
.video-container {
  position: relative;
  padding: 30px 0 56.25% 0;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*#endregion media content*/
/*#region tour (introjs)*/
.introjs-helperNumberLayer {
  position: absolute;
  top: -3px;
  left: -17px;
  background: none;
  background-color: #666666;
  padding: 0;
  color: #FFF;
  border: none;
  text-align: center;
}
.introjs-bullets ul li a.active {
  background-color: #e56292;
}
.introjs-tooltip {
  padding: 20px;
  background-color: #f1f1f1;
  min-width: 250px;
  max-width: 400px;
  border-radius: 3px;
}
.introjs-arrow.top {
  top: -13px;
}
.introjs-arrow {
  border: 7px solid #FFF;
}
a.introjs-button:focus,
a.introjs-button :active {
  text-decoration: none;
  outline: none;
}
/*#endregion tour (introjs)*/
/*#region jQueryUI slider*/
.ui-slider {
  background: none;
  background-color: #f0f0f0;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -0.45em;
  margin-left: -0.8em;
}
.ui-slider .ui-slider-handle {
  width: 1.6em;
  height: 1.6em;
  border-radius: 18px;
  border: none;
  background: none;
  background-color: #666666;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
}
/*
.ui-slider .ui-slider-range {
	position: relative;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
	color: #ffffff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ui-widget-header {
	font-weight: bold;
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border: 1px solid #666;
}

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background-color: #e6e6e6;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
		background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		color: #333;
		line-height: normal;
		border: 1px solid #ccc;
		border-bottom-color: #bbb;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-webkit-transition: 0.1s linear background-image;
		-moz-transition: 0.1s linear background-image;
		-ms-transition: 0.1s linear background-image;
		-o-transition: 0.1s linear background-image;
		transition: 0.1s linear background-image;
		overflow: visible;
	}
*/
/*#endregion jQueryUI slider (fix)*/
