
<div id="oyw-map-container">

    <!--Map-->
    <div id="map" data-bind=" map: { initialize: location.initializeMap }
                          , places : { data: location.mapLocations, onDataChange: location.removePointerAndDrawMarkers }
                          , css: { listOpen: showList, siteCollectorOpen: showSiteCollector }
                          ">

        <button class="btn oyw-btn-slide oyw-btn-slide-right" data-bind="click: location.toggleList">
            <i class="fa" data-bind="css: { 'fa-arrow-right': location.settings.showMap, 'fa-arrow-left': !location.settings.showMap() }"></i>
        </button>
    </div>
    <!--/Map-->
    <!--List-->
    <div id="locationList" data-bind="css: { listOpen: showList }">
        <!--<button class="btn oyw-btn-slide oyw-btn-slide-left" data-bind="click: location.toggleMap"><i class="fa fa-arrow-left"></i></button>-->
        <button class="btn oyw-btn-slide oyw-btn-slide-right" data-bind="click: location.toggleDetails"><i class="fa fa-arrow-right"></i></button>

        <!--list ventures found-->
        <ul data-bind="foreach: location.mapLocations" class="nav nav-list">
            <li class="locationInfo" data-bind="css: { isOpen: isOpen()
                                               , isFeatured: isFeatured()
                                               , selected: $data === $root.location.selectedItem() }
                                               , click: $root.location.itemClick, attr: { id: Id }
                                          ">
                <div class="locationInfo-imageArea">
                    <i class=" fa fa-2x" data-bind="css: $data.Icon"></i>
                    <!--<div class="locationInfo-image" data-bind="style: { 'background-image': 'url(../../Content/images/ventures/v-' + Id() + '-80.jpg)' }" />-->
                </div>
                <i class="fa fa-chevron-right detailsIndicator"></i>
                <h5 class="locationInfo-title" data-bind="text: Name" style="max-height: 30px; overflow: hidden; overflow-wrap: break-word; -ms-word-wrap: hyphenate; word-wrap:hyphenate;"></h5>
                <p class="locationInfo-addr"><span data-bind="  text: $data.Street"></span> <span data-bind="  text: $data.HouseNumber"></span></p>
            </li>
        </ul>
    </div>
    <!--/List-->
    <!--/Details-->
    <div id="ventureDetails" data-bind="with: location.selectedItem">
        <!--<button class="btn oyw-btn-slide oyw-btn-slide-right" data-bind="click: $root.location.toggleList"><i class="fa fa-arrow-right"></i></button>-->

        <div class="ventureDetails-imageArea">
            <img class="ventureDetails-image" data-bind="attr: { src: '../../Content/images/ventures/v-' + Id() + '-300.jpg' }" onerror="this.style.display='none'" />
            <!--<i class=" fa fa-5x" data-bind="css: $data.Icon()"></i>-->
            <h2 class="ventureDetails-header" data-bind="text: Name"></h2>
            <ul class="ventureDetails-taglist" data-bind="foreach: Tag">
                <!-- ko if: Show() == 1 -->
                <li><a class="btn btn-success btn-xs" data-bind="text: Name, attr: { href: '#/karte?tag=' + Name() }"></a></li>
                <!-- /ko -->
            </ul>
        </div>

        <div class="oyw-action-list btn-group-vertical pull-right">
            <!-- ko if: $data.Phone -->
            <a class="btn btn-warning btn-sm" target="_blank" data-bind="attr: {href: 'tel:' + $data.Phone() }"><span class="fa fa-fw fa-phone" /> <span data-bind="text: $data.Phone" /></a>
            <!-- /ko -->
            <!-- ko with: $data.Link -->
            <a class="btn btn-warning btn-sm" target="_blank" data-bind="attr: {href: Url}"><span class="fa fa-fw fa-globe" /> <span data-bind="text: Tag" /></a>
            <!-- /ko -->
            <!-- ko foreach: $data.Link -->
            <a class="btn btn-warning btn-sm" target="_blank" data-bind="attr: {href: Url}"><span class="fa fa-fw fa-globe" /> <span data-bind="text: Tag" /></a>
            <!-- /ko -->
        </div>

        <div class="ventureDetails-details">
            <!-- ko if: $data.Street -->
            <h4>Adresse</h4>
            <p class="detail-address">
                <span data-bind="text: $data.Street"></span> <span data-bind="  text: $data.HouseNumber"></span><br />
                <span data-bind="text: $data.Zip"></span> <span data-bind="  text: $data.City"></span>
            </p>
            <!-- /ko -->
            <!-- ko if: $data.OpenDisplay -->
            <h4>Öffnungszeiten</h4>
            <p data-bind="html: $data.OpenDisplay"></p>
            <!-- /ko -->
            <!-- ko if: $data.Description -->
            <h4>Beschreibung</h4>
            <div class="detail-content" data-bind="html: $data.Description"></div>
            <!-- /ko -->
        </div>

    </div>

</div>

