<!-- Site Collector -->
<div id="mySiteCollector" style="padding: 15px;">
	<a class="oyw-btn-close hidden-xs fa fa-times" href="#/map"></a>
	<form class="form">

		<div class="row panel-body">
			<h1><span data-bind="localText: 'siteCollector.title'">Add a new site</span></h1>
		</div>

		<div class="row">
			<div class="col-sm-6">

				<!-- #region Name/Description -->
				<div class="form-group">
					<label for="addSiteName" data-bind="localText: 'siteCollector.site.name'">Name:</label>
					<input id="addSiteName" type="text" data-bind="value: item.Name" class="form-control siteName translatePlaceholder" />
					<div class="err-valid-inline" data-bind="breezeValidation: item.Name"></div>
				</div>

				<div class="form-group">
					<label for="addSiteDescription" data-bind="localText: 'siteCollector.site.description.label'">Description:</label>
					<textarea data-bind="value: item.Description, localAttr: { placeholder: 'siteCollector.site.description.placeholder' }" placeholder="Please enter a description" class="form-control" id="addSiteDescription"></textarea>
					<div class="err-valid-inline" data-bind="breezeValidation: item.Description"></div>
				</div>
				<!-- #endregion Name/Description -->
				<!-- #region Posiion-->
				<div class="form-group">
					<div class="btn btn-sm btn-warning pull-right selectPosition"><i class="fa fa-location-arrow"></i> <span data-bind="localText: 'siteCollector.currentLocation'">use current location</span></div>
					<label for="addSiteLocationStreet" data-bind="localText: 'siteCollector.site.address.title'">Address:</label>
				</div>
				<div class="form-group">
					<div class="input-group input-group-c12">
						<input id="selectCountry" data-bind="value: item.CountryCode, select2: { query: getCountries, initSelection: initCountrySelection }, localAttr: { 'data-placeholder': 'siteCollector.site.address.country'}" class="form-control input-group-c6" data-placeholder="Country" />
						<input id="selectProvince" data-bind="value: item.ProvinceCode, select2: { query: getProvinces, initSelection: initProvinceSelection}, localAttr: { 'data-placeholder': 'siteCollector.site.address.province'}" class="form-control input-group-c6" data-placeholder="State/Province" />
					</div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.CountryCode"></div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.ProvinceCode"></div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-c12">
						<input data-bind="value: item.Zip, localAttr: { placeholder: 'siteCollector.site.address.postalCode' }" id="addSiteLocationPostalCode" type="text" class="form-control input-group-c3" placeholder="PLZ" />
						<input data-bind="value: item.City, localAttr: { placeholder: 'siteCollector.site.address.city' }" id="addSiteLocationCity" type="text" class="form-control input-group-c9" placeholder="Stadt" />
					</div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.Zip"></div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.City"></div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-c12">
						<input data-bind="value: item.Street, localAttr: { placeholder: 'siteCollector.site.address.street' }" id="addSiteLocationStreet" type="text" class="form-control input-group-c9" placeholder="Straße" />
						<input data-bind="value: item.HouseNumber, localAttr: { placeholder: 'siteCollector.site.address.number' }" id="addSiteLocationNr" type="text" class="form-control input-group-c3" placeholder="Nr." />
					</div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.Street"></div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.HouseNumber"></div>
				</div>
				<div class="form-group">
					<div class="btn btn-large btn-warning updatePosition" data-bind="click: setMarker"><i class="fa fa-map-marker" /> <span data-bind="localText: 'siteCollector.getPosition'">get position</span> <i class="fa fa-arrow-down icon-highlight" /></div>
					<div class="btn btn-large btn-warning pull-right updateAddress" data-bind="click: setAddress"><i class="fa fa-arrow-up icon-highlight" /> <span data-bind="localText: 'siteCollector.getAddress'">get address</span> <i class="fa fa-envelope" /></div>
				</div>
				<div class="form-group">
					<div class="input-group input-group-c12">
						<input data-bind="value: latitude, localAttr: { placeholder: 'siteCollector.site.lat' }" id="addSiteLocationLat" placeholder="Latitude" type="text" class="form-control locationLat input-group-c6" />
						<input data-bind="value: longitude, localAttr: { placeholder: 'siteCollector.site.long' }" id="addSiteLocationLng" type="text" placeholder="Longitude" class="form-control locationLng input-group-c6" />
					</div>
					<div class="err-valid-inline" data-bind="breezeValidation: item.Position"></div>
					<div class="line accuracy">
						<div class="error hilight hidden"><span data-bind="localText: 'siteCollector.accuracy'">Position accuracy</span>: &plusmn;<span class="value"></span>m</div>
					</div>
				</div>
				<!-- #endregion Posiion-->
			</div>

			<div class="col-sm-6">
				<!--categories-->
				<div class="form-group">

					<label data-bind="localText: 'siteCollector.site.categories.label'">Categories:</label>

					<div class="form-group">

						<ul class="item-categories" data-bind="foreach: item.Categories">
							<!--<li>TODO: lookup name and description and add template for values</li>-->
							<li data-bind="text: $data.CategoryId"></li>
						</ul>

						<button class="btn btn-warning btn-block" id="selectCategories" data-bind="click: toggleCategorySelection"><i class="icon-plus"></i> <span data-bind="localText: 'siteCollector.site.categories.add'">Add Categories</span></button>
					</div>
				</div>

				<!-- #region picture -- >

				<div class="form-group photo empty">
					<label>
						<span class="translate">Photo:</span>
					</label>
					<div class="controls">
						<div id="dropzone">
							<!--<form action="test.html" class="dropzone dz-clickable">-- >
								<div class="dz-default dz-message"><span>Drop files here to upload</span></div>
							<!--</form>-- >
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="addSitePhotoCaption" class="translate">Photo caption:</label>
					<input id="addSitePhotoCaption" type="text" class="form-control photoCaption translatePlaceholder" placeholder="What is in the photo?" />
				</div>
				<!--<div class="line photo">
					<label for="addSitePhoto">
						<span id="addSitePhotoContainer">
							<div class="label"><i class="icon-picture"></i><br /><span class="translate">Select a picture</span></div>
							<img />

							<div class="remove"><i class="icon-remove-sign"></i></div>
						</span>
					</label>

					<input type="file" id="addSitePhoto" accept="image/*;capture=camera">
				</div>-->
				<!-- #endregion picture -- >


				<!--opening_hours-->
				<!--opening hours-->
				<div class="form-group">
					<label>
						<a href="http://openingh.openstreetmap.de/evaluation_tool" target=" _blank" data-bind="localText: 'siteCollector.site.openingHours.label', localAttr: {src: 'siteCollector.site.openingHours.evalTool'} ">Opening Hours</a>
					</label>
					<input data-bind="value: opening" id="openingHours" type="text" class="form-control" />
					<select data-bind="options: opening_hour_samples" id="openingHours_Select" class="form-control"></select>
				</div>

				<!--accessibility-->
				<div class="form-group">
					<label>
						<span data-bind="localText: 'siteCollector.site.accessibility.label'">Accessibility:</span>
					</label>
					<select data-bind="" id="accessibility" class="form-control">
						<option data-bind="localText: 'unknown' " value="">unknown</option>
						<option data-bind="localText: 'siteCollector.site.accessibility.yes' " value="yes">voll rollstuhlgerecht</option>
						<option data-bind="localText: 'siteCollector.site.accessibility.limited' " value="limited">teilweise rollstuhlgerecht</option>
						<option data-bind="localText: 'siteCollector.site.accessibility.no' " value="no">nicht rollstuhlgerecht</option>
					</select>
					<!--<input data-bind="" id="openingHours" type="text" class="form-control" placeholder="description" data-bind="localAttribute: { placeholder: 'siteCollector.site.accessibility.description' }" />-->
				</div>
			</div>
		</div>

		<div class="row panel-body">
			<button class="ok btn btn-success btn-large pull-right" data-bind="click: submit"><i class="fa fa-check"></i> <span data-bind="localText: 'submit'">submit</span> </button>
			<button class="ok btn btn-default btn-large pull-right" data-bind="click: close"><i class="fa fa-remove"></i> <span data-bind="localText: 'cancel'">cancel</span> </button>
		</div>
	</form>

</div>
<!-- /Site Collector -->
<!-- #region Modal for category selection -->
<div class="modal fade in hidden" style="display: block; z-index: 1000000;" id="categorySelectionModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: toggleCategorySelection">×</button>
				<h4 class="modal-title translate" data-bind="localText: 'siteCollector.site.categories.add'">Add Categories</h4>
			</div>
			<div class="modal-body">
				<div class="open" data-bind="foreach: categories">
					<div class="panel-group" id="accordion" data-bind="attr: { id: 'accordion' + Id }">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="">
									<a data-toggle="collapse" data-parent="#accordion" data-bind="attr: { 'data-parent': '#accordion' + Id, href: '#' + Id }" href="#group_172">
										<i class="icon-plus"></i><i class="icon-minus"></i>
										<span data-bind="text: $data.Name"></span>
										<br />
										<small data-bind="text: $data.Description"></small>
									</a>
								</h4>
							</div>
							<div id="group_172" class="panel-collapse collapse" data-bind="attr: { id: Id }">
								<div class="panel-body list-group" data-bind="foreach: Categories">
									<a class="list-group-item" data-bind="attr: { id: Id }, 
																		  click: function() {$root.toggleCategory($data)}, 
																		  css: $root.categories.indexOf($data) >= 0 ? 'active' : '' ">
										<h5 class="m-t-n-xxs m-b-n-xxs translate">
											<span data-bind="text: $data.Name"></span><br />
											<small data-bind="text: $data.Description"></small>
										</h5>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div data-text="Done" class="btn btn-success updateIcons translate" data-bind="click: toggleCategorySelection">Done</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- #endregion /categorySelectionModal -->

<div class="modal-backdrop fade in hidden"></div>
