<!--List-->
<!-- TODO: implement siteList which displays all sites the current user has already made changes to, so the user can select and edit them -->
<!--<div id="mySiteList" data-bind="css: { listOpen: showList }">
    <button class="btn oyw-btn-slide oyw-btn-slide-right" data-bind="click: location.toggleDetails"><i class="fa fa-arrow-right"></i></button>

    <ul data-bind="foreach: location.mapLocations" class="nav nav-list">
        <li class="locationInfo" data-bind="css: { isOpen: isOpen()
                                               , isFeatured: isFeatured()
                                               , selected: $data === $root.location.selectedItem() }
                                               , click: $root.location.itemClick, attr: { id: Id }
                                          ">
            <div class="locationInfo-imageArea">
                <i class=" fa fa-2x" data-bind="css: $data.Icon"></i>
            </div>
            <i class="fa fa-chevron-right detailsIndicator"></i>
            <h5 class="locationInfo-title" data-bind="text: Name" style="max-height: 30px; overflow: hidden; overflow-wrap: break-word; -ms-word-wrap: hyphenate; word-wrap:hyphenate;"></h5>
            <p class="locationInfo-addr"><span data-bind="  text: $data.Street"></span> <span data-bind="  text: $data.HouseNumber"></span></p>
        </li>
    </ul>
</div>-->
<!--/List-->
<!-- Site Collector -->
<div id="mySiteCollector" style="padding: 15px;">
	<a class="oyw-btn-close hidden-xs fa fa-times" href="#/map"></a>
    <form class="form">

        <div class="row panel-body">
            <h1><span data-bind="localText: 'siteCollector.title'">Add a new site</span></h1>
        </div>

        <div class="row">
            <div class="col-sm-6">

                <!--<div class="form-group">
					<label data-bind="localText: 'siteCollector.selectRegion'">Selected region/map</label>:

                    <select data-bind="value: region" id="accessibility" class="form-control">
                        <option value="1">Baden</option>
						<option value="265">Karte von Morgen</option>
                        <option value="3">Transformap</option>
                    </select>

                </div>-->

                <div class="form-group">
					<label for="addSiteName" data-bind="localText: 'siteCollector.site.name'">Name:</label>
                    <input id="addSiteName" type="text" data-bind="value: entity.Name" class="form-control siteName translatePlaceholder" placeholder="What is the name of the site?" />
                </div>

                <div class="form-group">
					<label for="addSiteDescription" data-bind="localText: 'siteCollector.site.description'">Description:</label>
                    <textarea data-bind="value: entity.Description" class="form-control translatePlaceholder" id="addSiteDescription" placeholder="How do you describe the site?"></textarea>
                </div>

                <!--<section class="panel locationContainer position">
                <header class="panel-heading">
                    Position
                </header>-->
                <!--Address and Position-->
                <div class="form-group">
                    <div class="btn btn-sm btn-warning pull-right selectPosition"><i class="fa fa-location-arrow"></i> <span class="translate">use current location</span></div>
					<label for="addSiteLocationStreet" data-bind="localText: 'siteCollector.site.address'">Address:</label>
                </div>
                <div class="form-group">
                    <input data-bind="value: entity.Country, select2: { data: countries, placeholder: 'Select Country' }" class="form-control translate" />
                </div>
                <div class="form-group">
                    <div class="input-group input-group-c12">
                        <input data-bind="value: entity.Zip" id="addSiteLocationPostalCode" type="text" class="form-control input-group-c3" placeholder="PLZ" />
                        <input data-bind="value: entity.City" id="addSiteLocationCity" type="text" class="form-control input-group-c9" placeholder="Stadt" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-c12">
                        <input data-bind="value: entity.Street" id="addSiteLocationStreet" type="text" class="form-control input-group-c9" placeholder="Straße" />
                        <input data-bind="value: entity.HouseNumber" id="addSiteLocationNr" type="text" class="form-control input-group-c3" placeholder="Nr." />
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn btn-large btn-warning updatePosition" data-bind="click: setMarker"><i class="fa fa-map-marker" /> <span data-bind="localText: 'siteCollector.getPosition'">get position</span> <i class="fa fa-arrow-down icon-highlight" /></div>
                    <div class="btn btn-large btn-warning pull-right updateAddress" data-bind="click: setAddress"><i class="fa fa-arrow-up icon-highlight" /> <span data-bind="localText: 'siteCollector.getAddress'">get address</span> <i class="fa fa-envelope" /></div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-c12">
                        <input data-bind="value: latitude" id="addSiteLocationLat" type="text" class="form-control locationLat input-group-c6" placeholder="Breitengrad" />
                        <input data-bind="value: longitude" id="addSiteLocationLng" type="text" class="form-control locationLng input-group-c6" placeholder="Längengrad" />
                    </div>
                    <div class="line accuracy">
                        <div class="error hilight hidden"><span data-bind="localText: 'siteCollector.accuracy'">Position accuracy</span>: &plusmn;<span class="value"></span>m</div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <!--categories-->
                <div class="form-group">

					<label data-bind="localText: 'siteCollector.site.categories'">Categories:</label>

                    <div class="form-group">

                        <ul class="item-categories" data-bind="foreach: categories">
                            <li data-bind="text: $data.name.Name || $data.name[0].Name"></li>
                        </ul>

                        <button class="btn btn-warning btn-block" id="selectCategories" data-bind="click: toggleTagSelection"><i class="icon-plus"></i> <span data-bind="localText: 'siteCollector.selectCategories'">Select Categories</span></button>
                    </div>
                </div>

                <!--picture-- >
                <div class="form-group photo empty">
                    <label>
                        <span class="translate">Photo:</span>
                    </label>
                    <div class="controls">
                        <div id="dropzone">
                            <!--<form action="test.html" class="dropzone dz-clickable">-- >
                                <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
                            <!--</form>-- >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addSitePhotoCaption" class="translate">Photo caption:</label>
                    <input id="addSitePhotoCaption" type="text" class="form-control photoCaption translatePlaceholder" placeholder="What is in the photo?" />
                </div>
                <!--opening_hours-->
                <div class="form-group">
                    <label>
						<span data-bind="localText: 'siteCollector.site.openingHours'">Opening Hours: (see <a href="http://openingh.openstreetmap.de/evaluation_tool" target="_blank">how to set this</a>)</span>
                    </label>
                    <input data-bind="" id="openingHours" type="text" class="form-control" placeholder="Opening Hours (editor comming soon)" />
                    <select data-bind="options: opening_hour_samples" id="openingHours_Select" class="form-control"></select>
                </div>

                <!--accessibility-->
                <div class="form-group">
                    <label>
						<span data-bind="localText: 'siteCollector.site.accessibility.label'">Accessibility:</span>
                    </label>
                    <select data-bind="" id="accessibility" class="form-control">
                        <option value="">unknown</option>
                        <option value="yes">voll rollstuhlgerecht</option>
                        <option value="limited">teilweise rollstuhlgerecht</option>
                        <option value="no">nicht rollstuhlgerecht</option>
                    </select>
					<!--<input data-bind="" id="openingHours" type="text" class="form-control" placeholder="description" data-bind="localAttribute: { placeholder: 'siteCollector.site.accessibility.description' }" />-->
                </div>

                <!--<div class="line photo">
                    <label for="addSitePhoto">
                        <span id="addSitePhotoContainer">
                            <div class="label"><i class="icon-picture"></i><br /><span class="translate">Select a picture</span></div>
                            <img />

                            <div class="remove"><i class="icon-remove-sign"></i></div>
                        </span>
                    </label>

                    <input type="file" id="addSitePhoto" accept="image/*;capture=camera">
                </div>-->

            </div>
        </div>

        <div class="row panel-body">
            <button class="ok btn btn-success btn-large pull-right" data-bind="click: submit"><i class="fa fa-check"></i> <span data-bind="localText: 'submit'">submit</span> </button>
            <button class="ok btn btn-default btn-large pull-right" data-bind="click: close"><i class="fa fa-remove"></i> <span data-bind="localText: 'cancel'">cancel</span> </button>
        </div>
    </form>

</div>
<!-- /Site Collector -->

<!-- Modal for category selection -->
<div class="modal fade in hidden" style="display: block; z-index: 1000000;" id="categorySelectionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: toggleTagSelection">×</button><h4 data-text="Select icons" class="modal-title translate">Select icons</h4>
            </div>
            <div class="modal-body">
                <div class="open" data-bind="foreach: taxonomy">
                    <div class="panel-group" id="accordion" data-bind="attr: { id: 'accordion' + Id }">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="">
                                    <a data-toggle="collapse" data-parent="#accordion" data-bind="attr: { 'data-parent': '#accordion' + Id, href: '#' + Id }" href="#group_172">
                                        <i class="icon-plus"></i><i class="icon-minus"></i>
                                        <span data-bind="text: $data.name.Name || $data.name[0].Name"></span>
                                        <br />
                                        <small data-bind="text: $data.name.Description"></small>
                                    </a>
                                </h4>
                            </div>
                            <div id="group_172" class="panel-collapse collapse" data-bind="attr: { id: Id }">
                                <div class="panel-body list-group" data-bind="foreach: category">

                                    <a class="list-group-item" data-bind="attr: { id: Id }, click: function() {$root.toggleTag($data)}, css: $root.categories.indexOf($data) >= 0 ? 'active' : ''">
                                        <h5 class="m-t-n-xxs m-b-n-xxs translate">
                                            <span data-bind="text: $data.name.Name || $data.name[0].Name"></span><br />
                                            <small data-bind="text: $data.name.Description"></small>
                                        </h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div data-text="Done" class="btn btn-success updateIcons translate" data-bind="click: toggleTagSelection">Done</div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /categorySelectionModal -->

<div class="modal-backdrop fade in hidden"></div>
